.CourseCardMain{
    height: 290px;
    width: 180px;
    padding: 5px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 25%);
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;  
}

.CourseCardMain:hover{
    box-shadow: 0 1px 15px rgb(0 0 0 / 25%);

}
.CourseCardIage{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 10px 10px 0px 0px;
}
.CourseCardtitleArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CourseCardtitle{
    font-size: 14px;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.CourseCardDescription{
    font-size: 10px;
    color: 686868;
    margin: 1rem;
}