.ProFileIconMain{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    
    
}
.ProFileIconMain.student{
    border:2px solid rgb(102, 70, 231 );
}

.ProFileIconMain.teacher{
    border:2px solid red;

}

.ProFileIconImage{
   max-width: 100%;
}

.ProFileIconType{
position: absolute;
bottom: -5px;
left: -5px;
font-size: 13px;
font-weight: 600;
border-radius:50%;
width: 20px;
height: 20px;
display: flex;
justify-content: center;
align-items: center;
color: white;
border: 2px solid var(--background-color);

}
.ProFileIconType.student{
    background-color: blue;
}

.ProFileIconType.teacher{
    background-color: red;

}

@media screen and (max-width: 600px){
.ProFileIconMain{
    display: none;
}

.NavBarLogo{
    background-image: url('file:///C:/Users/Adminstrator/navbar-page-react/src/assets/beyond-exams-logo-mobile.svg');   
    width: 50px;
}
}  

.NavBarSearchArea{
    width: auto;
    padding: 0;

}