@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
  font-family: 'Poppins', sans-serif |important;
  font-weight: 700;
  --primary-color: #6646e7;
  --background-color: #f9f2ff;
}
* {
  margin: 0;
  padding: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }